{% extends "web/index.html" %}
{% load staticfiles %}
{% block content %}
<br />
<p align="right"><img src="{% static "web/images/zephyr.jpeg" %}" alt="hod"  width="100px" height="100px" />
<br />
Name:
</p>
 <p align="justify">Applied Electronics and Instrumentation Engineering  includes detailed study on the design of analog and digital electronic devices used for measurement and control flow, pressure, temperature, level, and the calibration of such instruments. Students learn to program microcontrollers and to design and implement communication networks composed of sensors, actuators, and programmable logic controllers (PLC).</p>
		<p>Duration : 4 years </p>
		<p>Some of our successful graduates work as,</p>
		<ul>
		<li>Manufacturing Engineers in multi-national corporates  like Sony, LG, Samsung,  Philips</li>
		<li>Quality Controllers</li>
		<li>Researchers</li>
		<li>Design & Development Consultants</li>
		<li>Entrepreneurs</li>
		<li>Teachers.</li>
		</ul></p>
<br />
        <table width="100%">
    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      
    </tr>
    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
      <td colspan="4" bgcolor="#BDD5EF">&nbsp;AICTE APPROVED COURSES : </td>
      </tr>
	<tr>
      <td height="21" colspan="4" bgcolor="#E4C0C6">&nbsp;UnderGraduate Program</td>
    </tr>
    <tr>
      <td width="34%" height="24" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Stream</td>
	  
      <td width="27%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Duration</td>
      <td width="16%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Intake</td>
   
    </tr>
    <tr>
      <td bgcolor="#FDFFC3">&nbsp;B.Tech AEIE</td>
      <td bgcolor="#EAEAD5">&nbsp;4 Years</td>
      <td bgcolor="#FDFFC3">&nbsp;60</td>
     </td>
    </tr>
  </table>
<br />
<br />
{% endblock content %}

