{% extends "web/index.html" %}
{% load staticfiles %}
{% block content %}
<br />
<p align="right"><img src="{% static "web/images/zephyr.jpeg" %}" alt="hod"  width="100px" height="100px" />
<br />
Name:
</p>
      	<p align="justify">Biomedical Engineering is an inter-disciplinary emerging field, which combines engineering methods, science and technology with medical needs for the enhancement of modern health care techniques. The discipline focuses on understanding complex living systems-via experimental and analytical techniques - and on development of instruments, methods and algorithms that advance medical and biological knowledge while improving the effectiveness and delivery of clinical medicine.</p>
        <p align="justify">                      TIG has introduced 4-year graduate course (B.Tech) in Bio-Medical Engineering from 2003 for the first time in the Eastern region of India. This course integrates the main engineering branches like electrical, electronics, instrumentation and computer science engineering with medical sciences. The Department provides in depth theoretical knowledge about various kinds of medical instruments and systems and has well-equipped laboratories for performing experiments and demonstration. The department conducts special sessions where students get opportunities to interact with professionals and academicians from reputed industries and educational institutions for their knowledge enhancement and motivation.</p>
		<p align="justify">TIG emphasizes on building a platform for graduate engineers through education, training and technology development for serving the needs for clinical medicine and biomedical industries through workforce and technology development. The graduate engineers get well equipped with the skill to investigate, plan, design, manufacture and maintenance of medical systems and equipment. It is pertinent to mention that biomedical engineers would be quite capable and deserving candidates in biomedical, electronics and computer science fields.</p>
        <table width="100%">
    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      
    </tr>
    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
      <td colspan="4" bgcolor="#BDD5EF">&nbsp;AICTE APPROVED COURSES : </td>
      </tr>
	<tr>
      <td height="21" colspan="4" bgcolor="#E4C0C6">&nbsp;UnderGraduate Program</td>
    </tr>
    <tr>
      <td width="34%" height="24" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Stream</td>
	  
      <td width="27%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Duration</td>
      <td width="16%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Intake</td>
      
    </tr>
    <tr>
      <td bgcolor="#FDFFC3">&nbsp;B.Tech BME</td>
      <td bgcolor="#EAEAD5">&nbsp;4 Years</td>
      <td bgcolor="#FDFFC3">&nbsp;30</td>
      </td>
    </tr>
  </table>
<br />
<br />
{% endblock content %}
