{% extends "web/index.html" %}
{% load staticfiles %}
{% block content %}
<br />
<p align="right"><img src="{% static "web/images/zephyr.jpeg" %}" alt="hod"  width="100px" height="100px" />
<br />
Name:
</p>
 <p align="justify">The School of Computer Science and Information Technology offers wide angle learning opportunities at undergraduate, postgraduate, professional and doctoral levels. It has strong alumni strength of more than 3000, most of whom are presently employed with the leading corporate like Infosys, IBM, CTS, TCS, Microsoft, Oracle, Cisco, MBT and so on. The School also provides Doctoral programs leading to Ph D in Cellular Automata, Web Intelligence, Distributed Computing, Neural Networks, Artificial Intelligence, Multimedia Systems and Compiler Design. The School has also bagged quite a good number of Sponsored Research and Consultancy over the years. The professional courses recognized by the Department of Electronics, Govt. of India, are offered at 73 College and University Centers in a networked approach.</p>
<br />

 <table width="100%">
    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
     
    </tr>
    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
      <td colspan="4" bgcolor="#BDD5EF">&nbsp;AICTE APPROVED COURSES : </td>
      </tr>
  <tr>
      <td height="21" colspan="4" bgcolor="#E4C0C6">&nbsp;UnderGraduate Program</td>
    </tr>
    <tr>
      <td width="34%" height="24" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Stream</td>
    
      <td width="27%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Duration</td>
      <td width="16%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Intake</td>
    
    </tr>
    
    <tr>
      <td bgcolor="#FDFFC3">&nbsp;B.Tech CSE </td>
      <td bgcolor="#EAEAD5">&nbsp;4 Years</td>
      <td bgcolor="#FDFFC3">&nbsp;120</td>
    </td>
    </tr>
    <tr>
      <td height="21" colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td height="21" colspan="4" bgcolor="#E4C0C6">&nbsp;PostGraduate Program</td>
    </tr>
  <tr>
      <td width="34%" height="24" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Stream</td>
    
      <td width="27%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Duration</td>
      <td width="16%" bordercolor="#E4C0C6" bgcolor="#E4C0C6">&nbsp;Intake</td>
      
    </tr>
  <tr>
      <td bgcolor="#FDFFC3">&nbsp;MTech CSE </td>
      <td bgcolor="#EAEAD5">&nbsp;2 Years</td>
      <td bgcolor="#FDFFC3">&nbsp;18</td>
                  </td>
    </tr>
  <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
  </table>
<br />
<br />
{% endblock content %}
