{% extends "web/index.html" %}


{% block container %}

<div class="header">
</div>


<br />

<div class="menu">
{% block menu %}
<a href="{% url 'index' %}"><div class="links">About</div></a>
<br />
<a href="{% url 'dirdesk' %}"><div class="links">Directors Desk</div></a>
<br />
<a href="{% url 'campusmap' %}"><div class="links">Campus</div></a>
<br />
<a href="{% url 'departments' %}"><div class="links" >Departments</div></a>
<br />
<a href="{% url 'avenir' %}"><div class="links">Avenir</div></a>
<br />
<a href="{% url 'phoenix' %}"><div class="links">Phoenix</div></a>
<br />
<a href="{% url 'nixal' %}"><div class="links">Nixal</div></a>
<br />
<a href="{% url 'contact' %}"><div class="links">Contact</div></a>
<br />
<a href="{% url 'login' %}"><div class="links">Member Login</div></a>
<br />
{% endblock menu %}
</div>

{% block content %}
<p><b><h3 style="color:grey;">Password reset successful</h3></b></p>
We,ve emailed you instructions for setting your password.You should be recieving them shortly.
<br />
<br />
If you do not recieve an email,please make sure you entered the<b> address you have registered with during your admission </b> and check your spam folder.
{% endblock content %}
{% endblock container %}
