{% extends "web/userhome.html" %}
{% block content %}
<br />
<br />
<p align="left">Search(by first name)</p>
<form method="post" action="">
{% csrf_token %}
<table align="left">
<tr>
<td>{{ form.searchtext }}</td>
<td><b style="color:red;font-size:14px;">{{ form.searchtext.errors }}</b></td>
</tr>
<tr>
<td><input type="submit" value="Search" /></td>
</tr>
<tr>
<td>Category:{{ form.group }}</td>
</tr>
</table>
</form>
<br />
<br />
<br />
<br />
<br />
<p align="left"><b>Your Search result</b>
<br />{{ users|length }} Found.
{% for i in users %}
<br />
<a href="{% url 'profiles' i.idn %}">{{ i.firstname }}&nbsp;{{ i.lastname }}({{ i.department }})</a>
{% endfor %}</p>
<br />
{% endblock content %}
